*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
h1, h2 {
	text-transform: uppercase;
}
p {
	color: #78849e;
}
html, body {
	color: #454f63;
	font-family: "Aller_Lt";
	font-size: 12px;
	line-height: 1.4;
}
.arrowBlue {
	text-align: center;
}
.arrowBlue img {
	max-width: 1.5rem;
}

/* header style */
.header {
	background-color: #ffffff;
	border-bottom: .1rem solid #cccccc;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2.5rem;
	position: fixed;
	left: 0;
	top: 0;
	height: 7rem;
	width: 100%;
	z-index: 999;
}
.header a {
	color: #454f63;
}
.logo a {
	font-family: "AllerDisplay";
	font-size: 3.5rem;
	font-weight: bold;
}
.header_menu a {
	font-family: "AllerDisplay";
	font-size: 1.5rem;
	font-weight: bold;
	padding: 3rem;
}

/* youtube style */
.owl-carousel {
	padding: 0 10rem;
	padding-top: 8rem;
	margin: 0 auto;
	width: 100%;
}
.owl-carousel iframe {
	width: 100%;
	height: 50rem;
}
.owl-carousel .owl-video-tn {
	background-size: cover;
	padding-bottom: 56.25%;
	padding-top: 25px;
}
.owl-video-frame {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.owl-video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.owl-dots {
	text-align: center;
	margin-top: 20px;
}
.owl-dot {
	display: inline-block;
}
.owl-dot span {
	width: 1.2rem;
	height: 1.2rem;
	background-color: #ccc;
	border-radius: 50%;
	display: block;
	margin: .5rem .7rem;
}
.owl-dot.active span {
	background-color: #000;
}

/* menu style */
.menu {
	display: flex;
	flex-direction: row;
	padding-top: 7rem;
}
.menu_element {
	display: flex;
	flex-direction: column;
	padding-left: 5rem;
	position: relative;
}
.menu_element a {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #7736af;
	font-size: 2.5rem;
	padding-bottom: 1rem;
}
.mainmenubtn span {
	font-family: "AllerDisplay";
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 0rem;
}
.element_underline {
	background-color: #c946c5;
	position: absolute;
	bottom: 0;
	right: 0;
	height: .5rem;
	width: 8rem;
}
.menu_element:nth-of-type(3) .element_underline {
	background-color: #7736af;
}

.mainmenubtn {
	background-color: transparent;
	border: none;
	color: #7736af;
	cursor: pointer;
	font-family: "Aller_Lt";
	font-size: 2.5rem;
	line-height: 30px;
	padding: 0;
	text-align: left;
	padding-bottom: 1rem;
}
.dropdown-child {
	display: none;
	position: absolute;
	right: 0;
	top: 4rem;
	z-index: 999;
}
.dropdown-child a {
	color: #7736af;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-child {
	display: block;
}
.dropdown .dropdown-child a:hover {
	text-decoration: underline;
}

/* deCe style */
.deCe {
	margin-top: 12rem;
	text-align: center;
}
.deCe_element {
	padding-bottom: 11.5rem;
}
.deCe h1 {
	font-size: 6.5rem;
}
.deCe h1 span {
	font-family: "AllerDisplay";
	font-weight: bold;
}
.deCe .arrowBlue:first-child {
	padding: 0;
	padding-bottom: 15.5rem;
}
.deCe .arrowBlue {
	padding: 11.5rem 0 10.5rem;
}
.deCe h2 {
	font-family: "AllerDisplay";
	font-size: 3.5rem;
	font-weight: bold;
	padding-bottom: 3rem;
}
.deCe p {
	font-size: 1.5rem;
	margin: 0 auto;
	max-width: 48rem;
}

/* cum style */
.cum {
	text-align: center;
	padding-top: 14rem;
}
.cum h1 {
	font-size: 6.5rem;
	padding-bottom: 12rem;
}
.cum h1 span {
	font-family: "AllerDisplay";
	font-weight: bold;
}
.cum_content {
	display: flex;
	flex-direction: row;
}
.cum_content__left {
	padding-top: 13rem;
	width: 50%;
}
.cum_content__left img {
	margin: 0 auto;
	max-height: 90rem;
}
.cum_content__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 13rem;
	text-align: left;
	width: 50%;
}
.cum_content__right_element {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem 0;
}
.cum_content__right_element .check {
	background-color: #c8e6c9;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	height: 3.3rem;
	width: 3.3rem;
}
.cum_content__right_element .description {
	padding-left: 1.5rem;
	max-width: 70%;
}
.cum_content__right_element .description h2 {
	color: #7736af;
	font-size: 2.5rem;
	text-transform: lowercase;
}
.cum_content__right_element .description h2 span {
	font-family: "AllerDisplay";
	font-weight: bold;
}
.cum_content__right_element .description p {
	font-size: 1.5rem;
}

/* parcurs style */
.parcurs {
	padding-top: 26rem;
	padding-bottom: 13.5rem;
	text-align: center;
}
.parcurs h1 {
	font-size: 6.5rem;
	margin: 0 auto;
	padding-bottom: 4rem;
	width: 70%;
}
.parcurs h1 span {
	font-family: "AllerDisplay";
	font-weight: bold;
}
.conditions_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 13rem;
	width: 60%;
}
.conditions_container .conditions {
	width: 50%;
}
.conditions_container .conditions img {
	padding-bottom: 8rem;
	width: 12.5rem;
}
.conditions_container .conditions p {
	font-size: 3.5rem;
	margin: 0 auto;
	width: 90%;
}

/* actioneaza style */
#actioneaza {
	padding-bottom: 10rem;
}

.descarca {
	background-color: #ffffff;
	border: solid 2px #04a9f3;
	text-align: center;
	padding: .5rem 3rem;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	max-width: 30rem;
	z-index: 999;
}
.descarca a {
	color: #04a9f3;
	font-size: 2rem;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
	html, body {
		font-size: 11px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 11px;
	}

	/* youtube style */
	.owl-carousel {
		padding: 0 3rem;
		padding-top: 8rem;
	}
	.owl-carousel iframe {
		height: 45rem;
	}
	.owl-dot span {
		width: 1.4rem;
		height: 1.4rem;
	}

	/* menu style */
	.menu {
		flex-direction: column;
		padding-top: 3rem;
		padding-left: 3rem;
	}
	.menu_element {
		padding-left: 0rem;
	}
	.element_underline {
		display: none;
	}
	.dropdown-child {
		position: relative;
		left: 1rem;
		right: 0;
		top: 0;
	}

	/* deCe style */
	.deCe {
		margin-top: 5rem;
	}
	.deCe_element {
		padding-bottom: 5rem;
	}
	.deCe h1 {
		font-size: 3.5rem;
	}
	.deCe .arrowBlue:first-child {
		padding: 0;
		padding-bottom: 5rem;
	}
	.deCe .arrowBlue {
		padding: 5rem 0 5rem;
	}
	.deCe h2 {
		font-size: 3rem;
		padding-bottom: 2rem;
	}
	.deCe p {
		font-size: 2rem;
	}

	/* cum style */
	.cum {
		padding-top: 5rem;
	}
	.cum h1 {
		font-size: 3rem;
		padding-bottom: 5rem;
	}
	.cum_content__left {
		padding-top: 5rem;
	}

	/* parcurs style */
	.parcurs {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.parcurs h1 {
		font-size: 3.5rem;
		width: 100%;
	}
	.conditions_container {
		padding-top: 5rem;
	}
	.conditions_container .conditions img {
		padding-bottom: 2rem;
		width: 12.5rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 10px;
	}

	/* header style */
	.header {
		flex-direction: row;
		padding: 0;
		height: 8rem;
	}
	.header_menu a {
		padding: 1rem;
	}

	/* youtube style */
	.owl-carousel {
		padding: 0 0rem;
		padding-top: 8rem;
	}
	.owl-carousel iframe {
		height: 40rem;
	}
	.owl-dots {
		margin-top: 0px;
	}
	.owl-dot span {
		width: 1.6rem;
		height: 1.6rem;
	}

	/* menu style */
	.menu {
		flex-direction: column;
		padding-top: 3rem;
		padding-left: 3rem;
	}
	.menu_element {
		padding-left: 0rem;
	}
	.element_underline {
		display: none;
	}
	.dropdown-child {
		position: relative;
		left: 1rem;
		right: 0;
		top: 0;
	}

	/* deCe style */
	.deCe {
		margin-top: 5rem;
	}
	.deCe_element {
		padding-bottom: 5rem;
	}
	.deCe h1 {
		font-size: 3.5rem;
	}
	.deCe .arrowBlue:first-child {
		padding: 0;
		padding-bottom: 5rem;
	}
	.deCe .arrowBlue {
		padding: 5rem 0 5rem;
	}
	.deCe h2 {
		font-size: 3rem;
		padding-bottom: 2rem;
	}
	.deCe p {
		font-size: 2rem;
	}

	/* cum style */
	.cum {
		padding-top: 5rem;
	}
	.cum h1 {
		font-size: 3rem;
		padding-bottom: 5rem;
	}
	.cum_content {
		flex-direction: column;
	}
	.cum_content__left {
		padding-top: 5rem;
		width: 100%;
	}
	.cum_content__right {
		padding-top: 5rem;
		padding-left: 3rem;
		width: 100%;
	}
	.cum_content__right_element .check {
		height: 3.3rem;
		width: 3.3rem;
	}
	.cum_content__right_element .description {
		padding-left: 1.5rem;
		max-width: 90%;
	}
	.cum_content__right_element .description h2 {
		font-size: 2.5rem;
	}

	/* parcurs style */
	.parcurs {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.parcurs h1 {
		font-size: 3.5rem;
		width: 100%;
	}
	.conditions_container {
		flex-direction: column;
		padding-top: 5rem;
		width: 100%;
	}
	.conditions_container .conditions {
		width: 100%;
	}
	.conditions_container .conditions img {
		padding-bottom: 2rem;
		width: 12.5rem;
	}
	.conditions_container .conditions p {
		font-size: 3.5rem;
		margin: 0 auto;
		width: 90%;
	}

	/* actioneaza style */
	.descarca span {
		font-size: 2rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 9px;
	}

	/* header style */
	.header {
		flex-direction: column;
		padding: 0;
		height: 8rem;
	}
	.header_menu a {
		padding: 1rem;
	}

	/* youtube style */
	.owl-carousel {
		padding: 0 0rem;
		padding-top: 8rem;
	}
	.owl-carousel iframe {
		height: 35rem;
	}
	.owl-dots {
		margin-top: 0px;
	}
	.owl-dot span {
		width: 1.8rem;
		height: 1.8rem;
	}

	/* menu style */
	.menu {
		flex-direction: column;
		padding-top: 3rem;
		padding-left: 2rem;
	}
	.menu_element {
		padding-left: 0rem;
	}
	.element_underline {
		display: none;
	}
	.dropdown-child {
		position: relative;
		left: 1rem;
		right: 0;
		top: 0;
	}

	/* deCe style */
	.deCe {
		margin-top: 5rem;
	}
	.deCe_element {
		padding-bottom: 5rem;
	}
	.deCe h1 {
		font-size: 3.5rem;
	}
	.deCe .arrowBlue:first-child {
		padding: 0;
		padding-bottom: 5rem;
	}
	.deCe .arrowBlue {
		padding: 5rem 0 5rem;
	}
	.deCe h2 {
		font-size: 3rem;
		padding-bottom: 2rem;
	}
	.deCe p {
		font-size: 2rem;
	}

	/* cum style */
	.cum {
		padding-top: 5rem;
	}
	.cum h1 {
		font-size: 3rem;
		padding-bottom: 5rem;
	}
	.cum_content {
		flex-direction: column;
	}
	.cum_content__left {
		padding-top: 5rem;
		width: 100%;
	}
	.cum_content__right {
		padding-top: 5rem;
		padding-left: 2rem;
		width: 100%;
	}
	.cum_content__right_element .check {
		height: 3.3rem;
		width: 3.3rem;
	}
	.cum_content__right_element .description {
		padding-left: 1.5rem;
		max-width: 90%;
	}
	.cum_content__right_element .description h2 {
		font-size: 2.5rem;
	}

	/* parcurs style */
	.parcurs {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.parcurs h1 {
		font-size: 3.5rem;
		width: 100%;
	}
	.conditions_container {
		flex-direction: column;
		padding-top: 5rem;
		width: 100%;
	}
	.conditions_container .conditions {
		width: 100%;
	}
	.conditions_container .conditions img {
		padding-bottom: 2rem;
		width: 12.5rem;
	}
	.conditions_container .conditions p {
		font-size: 3.5rem;
		margin: 0 auto;
		width: 90%;
	}

	/* actioneaza style */
	.descarca span {
		font-size: 2rem;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 8px;
	}

	/* header style */
	.header {
		flex-direction: column;
		padding: 0;
		height: 8rem;
	}
	.header_menu a {
		padding: 1rem;
	}

	/* youtube style */
	.owl-carousel {
		padding: 0 0rem;
		padding-top: 8rem;
	}
	.owl-carousel iframe {
		height: 30rem;
	}
	.owl-dots {
		margin-top: 0px;
	}
	.owl-dot span {
		width: 2rem;
		height: 2rem;
	}

	/* menu style */
	.menu {
		flex-direction: column;
		padding-top: 3rem;
	}
	.menu_element {
		padding-left: 0rem;
	}
	.element_underline {
		display: none;
	}
	.dropdown-child {
		position: relative;
		left: 1rem;
		right: 0;
		top: 0;
	}

	/* deCe style */
	.deCe {
		margin-top: 5rem;
	}
	.deCe_element {
		padding-bottom: 5rem;
	}
	.deCe h1 {
		font-size: 3.5rem;
	}
	.deCe .arrowBlue:first-child {
		padding: 0;
		padding-bottom: 5rem;
	}
	.deCe .arrowBlue {
		padding: 5rem 0 5rem;
	}
	.deCe h2 {
		font-size: 3rem;
		padding-bottom: 2rem;
	}
	.deCe p {
		font-size: 2rem;
	}

	/* cum style */
	.cum {
		padding-top: 5rem;
	}
	.cum h1 {
		font-size: 3rem;
		padding-bottom: 5rem;
	}
	.cum_content {
		flex-direction: column;
	}
	.cum_content__left {
		padding-top: 5rem;
		width: 100%;
	}
	.cum_content__right {
		padding-top: 5rem;
		width: 100%;
	}
	.cum_content__right_element .check {
		height: 3.3rem;
		width: 3.3rem;
	}
	.cum_content__right_element .description {
		padding-left: 1.5rem;
		max-width: 90%;
	}
	.cum_content__right_element .description h2 {
		font-size: 2.5rem;
	}

	/* parcurs style */
	.parcurs {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.parcurs h1 {
		font-size: 3.5rem;
		width: 100%;
	}
	.conditions_container {
		flex-direction: column;
		padding-top: 5rem;
		width: 100%;
	}
	.conditions_container .conditions {
		width: 100%;
	}
	.conditions_container .conditions img {
		padding-bottom: 2rem;
		width: 12.5rem;
	}
	.conditions_container .conditions p {
		font-size: 3.5rem;
		margin: 0 auto;
		width: 90%;
	}

	/* actioneaza style */
	.descarca span {
		font-size: 2rem;
	}
}

@font-face {
	font-family: "Aller_Lt"; 
	src: url("../fonts/Aller_Lt.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}
@font-face {
	font-family: "AllerDisplay"; 
	src: url("../fonts/AllerDisplay.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold;
}